@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #020d18;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.75rem;
  }
}
